use wasm4::sprite::Sprite;
use wasm4::geometry::Size;
use wasm4::sprite::Flags::*;
{{#sprites}}

/// {{name}}
pub const {{rustName}}_SPRITE: &Sprite = &Sprite::new(
    Size::new({{width}}, {{height}}),
    {{flagsHumanReadable}},
    &[{{bytes}}],
);
{{/sprites}}
